$font-stack:    Roboto, sans-serif;
$primary-color: #ff6f59
$link-color: #735290
$background-color: #3B3355

body
    font: 100% $font-stack
    color: $primary-color
    background-color: $background-color
    padding-left: 10%
    padding-right: 10%

a
    color: $link-color

h1
    text-align: center

    
.row
    display: flex;