$font-stack:    Roboto, sans-serif;
$primary-color: #ff6f59
$link-color: #735290
$background-color: #3B3355
$break-small: 600px

body
    font: 100% $font-stack
    color: $primary-color
    background-color: $background-color
    padding-left: 10%
    padding-right: 10%

a
    color: $link-color

h1
    text-align: center

.column
    float: left
    padding-right: 10px
    @media screen and (max-width: $break-small)
        width: 100% !important


.row
    @media screen and (max-width: $break-small)
        flex-wrap: wrap
    flex-direction: row
    display: flex